{% extends 'index.html' %}
{% block title %}From the Firehose{% endblock title %}
{% block content %}
<div class="container">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

          {% for blogPost in blogPosts %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{blogPost.img.url}}" alt="Card image cap">
                <div class="card-body">
                  <h4>{{blogPost.title}}</h4>
                  <p class="card-text">{{blogPost.des}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <a class"btn btn-secondary my-2" href="/blog/post/?id={{blogPost.id}}">View</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
</div>
{% endblock content %}
