{% extends 'index.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="text-center">
    <form class="form-signin" method='post'>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      {% for message in messages %}
        <div class="alert alert-danger" role="alert">
        {{message}}
        </div>
        {% endfor %}
        {% csrf_token %}
      <label for="inputUserName" class="sr-only">Email address</label>
      <input type="text" name="username" id="inputUserName" class="form-control"
      placeholder="Username" required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control"
      placeholder="Password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
<div>
{% endblock content%}