{% extends 'index.html' %}
{% block title %}Register{% endblock title %}
{% block content %}
<div class="text-center">
    <form class="form-signin" method='post'>
      <h1 class="h3 mb-3 font-weight-normal">Please register here</h1>
      {% for message in messages %}
        <div class="alert alert-danger" role="alert">
        {{message}}
        </div>
        {% endfor %}
          {% csrf_token %}
      <label for="inputFirstName" class="sr-only">First Name</label>
      <input name="first_name" type="text" id="inputFirstName" class="form-control"
      placeholder="First Name" required autofocus>

      <label for="inputLastName" class="sr-only">Last Name</label>
      <input name="last_name" type="text" id="inputLastName" class="form-control"
      placeholder="Last Name" required autofocus>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" id="inputEmail" class="form-control"
      placeholder="Email address" required autofocus>

      <label for="inputUserName" class="sr-only">Email address</label>
      <input name="username" type="text" id="inputUserName" class="form-control"
      placeholder="Username" required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control"
      placeholder="Password" required>

      <label for="inputRetypePassword" class="sr-only">Retype Password</label>
      <input type="password" name="retype_password" id="inputRetypePassword" class="form-control"
      placeholder="Retype Password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
<div>
{% endblock content%}