.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

.form-signin .btn-block {
  margin: 5px;
}